@using PagedList;
@using PagedList.Mvc

@model  IPagedList<Harmony022.Models.tblZemljiste>

@{
    ViewBag.Title = "sellCottage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #000;
        margin: 1em 0;
        padding: 0;
    }
</style>

<div class="container" style="background-color: white;margin-top: 15px; align-items: left; padding-bottom: 30px; margin-top:  -20px;">
    <br />
    <h3 style="text-align: center;">- Prodaja zemljišta -</h3>
    <hr />
    <row>
        @if (Model.Count > 20)
        {
            for (int i = 1; i < 10; i++)
            {
                <column style="background-color: white">
                    <div class="card" style="margin-left: 60px;margin-top: 15px; float: left; width: 15em; background-color: #f0f0f0 ">

                        <div class="card-body">

                            <h5 class="card-title" style=" font-weight: bold;"><h3 style="text-align: center;"> Šifra: @Model.ElementAt(i).Sifra.ToString()</h3></h5>
                            <h4 class="card-text" style="font-weight: bold; text-align: center">Lokacija: @Model.ElementAt(i).Mesto.ToString() <br> @Model.ElementAt(i).Drzava.ToString()</h4>
                            <p class="card-text">

                            </p>
                            <p class="card-text bg-light" style="transform: rotate(0); font-weight: bold; text-align: center">
                                Površina: @Model.ElementAt(i).Povrsina.ToString() m2 <br>Cena: @Model.ElementAt(i).Cena.ToString() Eura
                                <br>
                                <img src="@Model.ElementAt(i).Slika.ToString()" class="card-img-top" alt="0001" style="height: 100px; width: 204px;">
                                <a href=@Url.Action("prikaziNekretninuStanSell", "tblZemljistes", new { stan = Model.ElementAt(i).Zemljiste_Id }) style="text-align: center">Detljanije...</a>
                            </p>
                        </div>

                    </div>
                </column>
            }

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        }
        else
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <column>
                    <div class="card" style="margin-left: 60px;margin-top: 15px; float: left; width: 15em; background-color: #f0f0f0 ">

                        <div class="card-body">

                            <h5 class="card-title" style="  font-weight: bold;"><h3 style="text-align: center;"> Šifra: @Model.ElementAt(i).Sifra.ToString()</h3></h5>
                            <h4 class="card-text" style="  font-weight: bold; text-align: center">Lokacija: @Model.ElementAt(i).Mesto.ToString() <br> @Model.ElementAt(i).Drzava.ToString()</h4>
                            <p class="card-text">

                            </p>
                            <p class="card-text bg-light" style="transform: rotate(0);   font-weight: bold; text-align: center">
                                Površina: @Model.ElementAt(i).Povrsina.ToString() m2 <br>Cena: @Model.ElementAt(i).Cena.ToString() Eura
                                <br>
                                <img src="@Model.ElementAt(i).Slika.ToString()" class="card-img-top" alt="0001" style="height: 100px; width: 204px;">
                                <a href=@Url.Action("prikaziNekretninuStanSell", "tblZemljistes", new { stan = Model.ElementAt(i).Zemljiste_Id }) style="text-align: center">Detljanije...</a>
                            </p>
                        </div>

                    </div>
                </column>
            }

        }

    </row>
    @if (Model.Count < 5)
    {
        <p style="margin-bottom:510px"></p>
    }
    <row>

    </row>
</div>

<hr />
<div style="text-align:center; display:block;background-color: white;">
    @Html.PagedListPager(Model, page => Url.Action("showSellLand", "vidiNekretnine", new { page }));

</div>
s