@model  List<Harmony022.Models.prikaziPretragaHarmony>

@Html.Action("PrikaziSlajder", "Home")

@Html.Partial("PretragaHome")

<style>
    .card {
        margin-left: 60px;
        margin-top: 15px;
        float: left;
        width: 15em;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.7;
    }

        .card:hover {
            opacity: 1.0;
        }
</style>

<body style="background-color: #ced8e3;">
    @{
        string strNekretnina = Model.ElementAt(0).Nekretnina.ToString();
        string link = "";
    }
    @for (int i = 0; i < Model.Count; i++)
    {
        {
            strNekretnina = Model.ElementAt(i).Nekretnina.ToString();
            link = "";
        }
        switch (strNekretnina)
        {
            case "Stan":
                link = "http://harmony022.rs/tblStan/prikaziNekretninuStanProdaja?stan=" + @Model.ElementAt(i).Stan_Id.ToString();
                break;
            case "Vikendica":
                link = "http://harmony022.rs/tblVikendica/prikaziNekretninuVikendiceProdaja?stan=" + @Model.ElementAt(i).Vikendica_Id.ToString();
                break;
            case "Kuca":
                link = "http://harmony022.rs/tblKucas/showSellHome?kuca=" + @Model.ElementAt(i).Kuca_Id.ToString();
                break;
            case "PoslovniProstor":
                link = "http://harmony022.rs/tblPoslovniProstor/prikaziNekretninuPoslovniProstorProdaja?BS=" + @Model.ElementAt(i).PP_Id.ToString();
                break;
            case "GradjZemljiste":
                link = "http://harmony022.rs/tblGradjevinskoZemljistes/prikaziNekretninuGradjZemljisteSell?zemlja=" + @Model.ElementAt(i).GradjZemljiste_Id.ToString();
                break;
            case "Zemljiste":
                link = "http://harmony022.rs/tblZemljistes/prikaziNekretninuZemljisteSell?zemlja=" + @Model.ElementAt(i).Zemljiste_Id.ToString();
                break;
        }

        <row>
            <div style="border: 2px;">
                <column>
                    <div class="card" style="width: 18rem;">
                        @if (@Model.ElementAt(i).Slika.ToString() != "")
                        {
                            <img src="@Model.ElementAt(i).Slika.ToString()" class="card-img-top" alt="0001" style="height: 100px; width: 204px;border-style: solid;">

                        }
                        else
                        {
                            <img src="~/Content/Harmony022.png" class="card-img-top" alt="0001" style="height: 100px; width: 204px;border-style: solid;">

                        }
                        <div class="card-body">
                            <h3 class="card-title text-center">@Model.ElementAt(i).Lokacija,  @Model.ElementAt(i).Mesto  @Model.ElementAt(i).Drzava</h3>

                            <p class="card-text text-center"><strong>Kvadratura: @Model.ElementAt(i).Kvadratura m2</strong> <br /><strong>Cena: @Model.ElementAt(i).Cena Eura</strong></p>


                            <a href="@link" class="btn center-block btn-primary " style="margin-left:15px">Detaljnije</a>
                            <br />
                        </div>
                    </div>

                </column>
            </div>

        </row>
    }

</body>

