
    <body>

        <div class="row" style="align-content:center; ">
            <div class="flex-column">
                @using (Html.BeginForm("DodajStan", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align:center;background-color:blue;color:white;font-family:Arial;font-style:oblique;font-size:x-large; padding-bottom:15px;">
                                Unesite stan
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px; padding-top:15px;"> @Html.TextBox("Šifra", "", "", new { placeholder = "Unesite šifru", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Mesto", "", "", new { placeholder = "Unesite mesto", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Lokacija", "", "", new { placeholder = "Unesite lokaciju", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Sobnost", "", "", new { placeholder = "Unesite sobnost", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Sprat", "", "", new { placeholder = "Unesite sprat", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Kvadratura", "", "", new { @type = "number", placeholder = "Unesite kvadraturu", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Uknjižen", "", "", new { placeholder = "Da li je uknjižen", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Grejanje", "", "", new { placeholder = "Grejanje", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Terasa", "", "", new { placeholder = "Terasa", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Parking", "", "", new { placeholder = "Da li ima parking", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Cena", "", "", new { @type = "number", placeholder = "Unesite cenu u Evrima", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Ažurirano", DateTime.Now.ToString(), "", new { placeholder = "", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Drzava", "", "", new { placeholder = "Unesite Državu", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("VrstaNekretnine", "", "", new { placeholder = "Prodaja ili Izdavanje", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;"> @Html.TextBox("Slajder", "", "", new { placeholder = "Glavni slajder (DA ili NE)", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px; padding-top:15px;"> @Html.TextArea("Opis", new { placeholder = "Unesite opis nekretnine", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                        <tr>                            
                            <td style="padding-bottom:15px;"> @Html.TextBox("Početna strana", "", "", new { placeholder = "Slajder (DA ili NE)", style = "text-align: center", @class = "form-control" }) </td>
                        </tr>
                    <tr>
                        <td style="padding-bottom:15px;"> <input type="file" name="file" id="file" class="btn btn-primary" /> </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:15px;"> <input type="submit" class="button button4" value="Sačuvaj" /> </td>
                    </tr>
                    </tbody>
                </table>

                }
            </div>
            <div class="flex-column" style="margin-left: 15px;">
                <div style="text-align:center;background-color:blue;color:white;font-family:Arial;font-style:oblique;font-size:x-large; padding-bottom:15px;">
                    Unesite stan
                </div>
                @using (Html.BeginForm("DodajSlikeStana", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div style="padding-bottom:15px; padding-top:15px;"> @Html.TextBox("Šifra", "", "", new { placeholder = "Unesite šifru", style = "text-align: center", @class = "form-control" }) </div>


                    @Html.TextBox("files", "", new { @type = "file", @multiple = "multiple" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-top:10px;">
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-success">
                            @ViewBag.UploadStatus
                        </div>
                    </div>
                }
            </div>
        </div>
    </body>

