@using System.Web;
@using Harmony022.Models;

<style>
    #Appartman:hover {
        background-color: cornflowerblue;
    }

    #Vikendice:hover {
        background-color: cornflowerblue;
    }

    #Home:hover {
        background-color: cornflowerblue;
    }

    #BusinessSpace:hover {
        background-color: cornflowerblue;
    }

    #GradjZemljiste:hover {
        background-color: cornflowerblue;
    }

    #PoljZemljiste:hover {
        background-color: cornflowerblue;
    }
</style>


@Html.Action("PrikaziSlajder")

<hr style="height: 2px; border-width: 0;    background-color: #f0f0f0">


@Html.Partial("PretragaHome")

<hr style="height: 2px; border-width: 0;    background-color: #f0f0f0">

@{
    Harmony022.Models.Harmony022ModelEntities db = new Harmony022.Models.Harmony022ModelEntities();
    List<tblStan> stanovi = db.tblStan.ToList();
    List<tblKuca> kuce = db.tblKuca.ToList();
    List<tblVikendica> vikendica = db.tblVikendica.ToList();
    List<tblPoslovniProstor> poslovniProstor = db.tblPoslovniProstor.ToList();
    List<tblZemljiste> poljoprivrednoZemljiste = db.tblZemljiste.ToList();
    List<tblGradjevinskoZemljiste> gradjevinskoZemljiste = db.tblGradjevinskoZemljiste.ToList();

}

<div style="margin-left: 15%">
    <button type="button" id="Appartman" onclick="changeCarosel('Appartman')" class="btn btn-outline-primary">Stanovi</button>
    <button type="button" id="Vikendice" onclick="changeCarosel('Vikendice')"  class="btn btn-outline-primary">Vikendice</button>
    <button type="button" id="Home" onclick="changeCarosel('Home')"  class="btn btn-outline-primary">Kuće</button>
    <button type="button" id="BusinessSpace" onclick="changeCarosel('PoslovniProstor')"  class="btn btn-outline-primary">Poslovni prostor</button>
    <button type="button" id="GradjZemljiste" onclick="changeCarosel('GradjevinskoZemljiste')" class="btn btn-outline-primary">Građevinska zemljišta</button>
    <button type="button" id="PoljZemljiste" onclick="changeCarosel('Zemljiste')" class="btn btn-outline-primary">Poljoprovredno zemljište</button>

</div>


<div id="caroselAppartman">
    <h1 style="text-align:center; margin-bottom:-20px">Stanovi</h1>
    @Html.Partial("caroselAppartman", stanovi)
</div>

<div id="caroselHome">
    <h1 style="text-align:center; margin-bottom:-20px">Kuće</h1>
    @Html.Partial("caroselHome", kuce)
</div>

<div id="caroselCottage">
    <h1 style="text-align:center; margin-bottom:-20px">Vikendice</h1>
    @Html.Partial("caroselCottage",vikendica)
</div>
<div id="caroselBS">
    <h1 style="text-align:center; margin-bottom:-20px">Poslovni prostori</h1>
    @Html.Partial("caroselBS", poslovniProstor)
</div>
<div id="caroselConstructionLand">
    <h1 style="text-align:center; margin-bottom:-20px">Građevinsko zemljište</h1>
    @Html.Partial("caroselConstructionLand", gradjevinskoZemljiste)
</div>
<div id="caroselLand">
    <h1 style="text-align:center; margin-bottom:-20px">Poljoprivredno zemljište</h1>
    @Html.Partial("caroselLand", poljoprivrednoZemljiste)
</div>
<script>
    $( document ).ready(function() {
       document.getElementById("caroselAppartman").style.display = "Block";
       document.getElementById("caroselHome").style.display = "none";
       document.getElementById("caroselCottage").style.display = "none";
       document.getElementById("caroselBS").style.display = "none";
       document.getElementById("caroselLand").style.display = "none";
       document.getElementById("caroselConstructionLand").style.display = "none";

    });

    function changeCarosel(type) {
        if (type == 'Appartman') {
            document.getElementById("caroselAppartman").style.display = "Block";
            document.getElementById("caroselHome").style.display = "none";
            document.getElementById("caroselCottage").style.display = "none";
            document.getElementById("caroselBS").style.display = "none";
            document.getElementById("caroselLand").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "none";

        }
        else if (type == 'Vikendice') {
            console.log(type);

            document.getElementById("caroselCottage").style.display = "Block";
            document.getElementById("caroselAppartman").style.display = "none"
            document.getElementById("caroselHome").style.display = "none";
            document.getElementById("caroselBS").style.display = "none";
            document.getElementById("caroselLand").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "none";

        }
        else if (type == 'Home') {
            document.getElementById("caroselHome").style.display = "block";
            document.getElementById("caroselAppartman").style.display = "none"
            document.getElementById("caroselCottage").style.display = "none";
            document.getElementById("caroselBS").style.display = "none";
            document.getElementById("caroselLand").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "none";

        }
        else if (type == 'PoslovniProstor') {
            document.getElementById("caroselBS").style.display = "block";
            document.getElementById("caroselHome").style.display = "none";
            document.getElementById("caroselAppartman").style.display = "none"
            document.getElementById("caroselCottage").style.display = "none";
            document.getElementById("caroselLand").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "none";

        }
        else if (type == 'Zemljiste') {
            document.getElementById("caroselLand").style.display = "block";
            document.getElementById("caroselBS").style.display = "none";
            document.getElementById("caroselHome").style.display = "none";
            document.getElementById("caroselAppartman").style.display = "none"
            document.getElementById("caroselCottage").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "none";

        }
        else if (type == 'GradjevinskoZemljiste') {
            document.getElementById("caroselLand").style.display = "none";
            document.getElementById("caroselBS").style.display = "none";
            document.getElementById("caroselHome").style.display = "none";
            document.getElementById("caroselAppartman").style.display = "none"
            document.getElementById("caroselCottage").style.display = "none";
            document.getElementById("caroselConstructionLand").style.display = "block";

        }
    }
</script>
