@model  List<Harmony022.Models.prikaziPretragaHarmony>
<style>
    h1{ cursor: pointer; }
    body {
        padding-top: 110px;
    }
</style>
@if (Model.Count > 0)
{
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>*@
    </ol>

    <!-- Wrapper for slides -->
    @{
            string strNekretnina = Model.ElementAt(0).Nekretnina.ToString();
            string link = "";
        }
        @switch (strNekretnina)
        {
            case "Stan":
                link = "http://194.146.57.57/tblStan/prikaziNekretninuStanProdaja?stan=" + @Model.ElementAt(0).Stan_Id.ToString();
                break;
            case "Vikendica":
                link = "http://194.146.57.57/tblVikendica/prikaziNekretninuVikendiceProdaja?stan=" + @Model.ElementAt(0).Vikendica_Id.ToString();
                break;
            case "Kuca":
                link = "http://194.146.57.57/tblKucas/showSellHome?kuca=" + @Model.ElementAt(0).Kuca_Id.ToString();
                break;
            case "PoslovniProstor":
                link = "http://194.146.57.57/tblPoslovniProstor/prikaziNekretninuPoslovniProstorProdaja?BS=" + @Model.ElementAt(0).PP_Id.ToString();
                break;
            case "GradjZemljiste":
                link = "http://194.146.57.57/tblGradjevinskoZemljistes/prikaziNekretninuGradjZemljisteSell?zemlja=" + @Model.ElementAt(0).GradjZemljiste_Id.ToString();
                break;
            case "Zemljiste":
                link = "http://194.146.57.57/tblZemljistes/prikaziNekretninuZemljisteSell?zemlja=" + @Model.ElementAt(0).Zemljiste_Id.ToString();
                break;
        }
<div class="carousel-inner" sstyle="margin: 0 auto;">
    <div class="item active">
        <img src="@Model.ElementAt(0).Slika.ToString()" style="width:1680px ;height: 400px;font-family: Abril Fatface " alt=@Model.ElementAt(0).Sifra.ToString()>
        <div class="carousel-caption">
            <a style="color:white;font-family: Abril Fatface" href="@link"><h1>Lokacija: @Model.ElementAt(0).Mesto, @Model.ElementAt(0).Lokacija <br /> @Model.ElementAt(0).Drzava </h1></a>
            <a style="color:white;font-family: Abril Fatface" href="@link">
                <h1 style=" "> Kvadratura: @Model.ElementAt(0).Kvadratura m2</h1>
            </a>           
            <a style="color:white" href="@link">
                <h1 style="font-family: Abril Fatface">Cena: @Model.ElementAt(0).Cena Eura</h1>
            </a>
        </div>
    </div>
    @for (int i = 1; i < Model.Count; i++)
    {
        {
             strNekretnina = Model.ElementAt(i).Nekretnina.ToString();
             link = "";
        }
        switch (strNekretnina)
        {
            case "Stan":
                link = "http://194.146.57.57/tblStan/prikaziNekretninuStanProdaja?stan=" + @Model.ElementAt(i).Stan_Id.ToString();
                break;
            case "Vikendica":
                link = "http://194.146.57.57/tblVikendica/prikaziNekretninuVikendiceProdaja?stan=" + @Model.ElementAt(i).Vikendica_Id.ToString();
                break;
            case "Kuca":
                link = "http://194.146.57.57/tblKucas/showSellHome?kuca=" + @Model.ElementAt(i).Kuca_Id.ToString();
                break;
            case "PoslovniProstor":
                link = "http://194.146.57.57/tblPoslovniProstor/prikaziNekretninuPoslovniProstorProdaja?BS=" + @Model.ElementAt(i).PP_Id.ToString();
                break;
            case "GradjZemljiste":
                link = "http://194.146.57.57/tblGradjevinskoZemljistes/prikaziNekretninuGradjZemljisteSell?zemlja=" + @Model.ElementAt(i).GradjZemljiste_Id.ToString();
                break;
            case "Zemljiste":
                link = "http://194.146.57.57/tblZemljistes/prikaziNekretninuZemljisteSell?zemlja=" + @Model.ElementAt(i).Zemljiste_Id.ToString();
                break;
        }



        <div class="item">
            <img src="@Model.ElementAt(i).Slika.ToString()" style="width:1680px ;height: 400px;font-family: Abril Fatface " alt=@Model.ElementAt(i).Sifra.ToString()>
            <div class="carousel-caption">
                <a style="color:white;font-family: Abril Fatface" href="@link"><h1>Lokacija: @Model.ElementAt(i).Mesto, @Model.ElementAt(i).Lokacija <br /> @Model.ElementAt(i).Drzava </h1></a>
                <a style="color:white;font-family: Abril Fatface" href="@link">
                    <h1> Kvadratura: @Model.ElementAt(i).Kvadratura m2</h1>
                </a>

                <a style="color:white;font-family: Abril Fatface" href="@link">       <h1 style="font-family: Abril Fatface">Cena: @Model.ElementAt(i).Cena Eura</h1></a>
            </div>
        </div>
    }
</div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
